html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}

p {
    font-size: 24px;
    line-height: 50px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E6E6FA;
    width: 100%;
    height: 70px;
    z-index: 1;

}

.nav {
    display:flex;
    justify-content: left;
    list-style: none;
    margin-right: 70%;
    
}

.nav a {
    text-decoration: none;
}


img {
    width: 20%;
}

a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #FF00FF;
}

.banner-area {
    position: relative;
    background-image: url(https://kevmccall.github.io/Final-Project/images/yarnbundle.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-area, .port-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part {
    width: 65%;
    height: 80%;
    font-size: 16px;
    overflow: auto;
    
}

.text-part p {
  line-height: 30px;
}

.about-area {
    background-color: #fefefe;
    height: auto;
    font-family: 'Lateef', cursive;
    font-size: 18px;
    
    
}

.port-area {
    background-color: #D8BFD8;
    height: auto;
}

.contact-area {
    background-color: #fefefe;
    
}

#iyarnyou {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    right: -200px;
    top: -80px;

}

.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
    
  }
  
.fa:hover {
      opacity: 0.7;
      text-decoration: none;
      
  }

.fa-facebook {
    background: #E6E6FA;
    color: #3b5998;
    margin-left: 85%;
    
  }

.fa-instagram {

    color: black;
    margin-left: 93%;
    background: #E6E6FA;
    

  }

.contactcontainer {

  margin-left: auto;
  margin-right: auto;
  
}


#contact textarea {
  max-width: auto;
  resize: both;
  width: 61%;
  margin: 0 0 5px;
  padding: 10px;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #E6E6FA;
}

#mara {
  width: 362.5; 
  height: 480;
  border: 5px solid lavender;
}

.phrase {
  text-align: center;
  font-size: 30px;
  font-family: 'Satisfy', cursive;
}